<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL_DAL.Properties.Settings.QL_CUAHANGTIENLOIConnectionString"
            connectionString="Data Source=LAPTOP-S5UE9VQ2\SQLEXPRESS;Initial Catalog=QL_CUAHANGTIENLOI;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QL_CUAHANGTIENLOIConnectionString1"
            connectionString="Data Source=LAPTOP-S5UE9VQ2\SQLEXPRESS;Initial Catalog=QL_CUAHANGTIENLOI;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>